.input{
    height: 50px;
    width: 80%;
    padding: 1rem;
    font-size: 0.95rem;
    border: 0.1px solid black;
    border-radius: 5px;
    
}


.arrowimg{
    height: 12px;
}

.inputArrow{
    display: flex;
}


.msg{
    
    margin: 1rem;
    height: 80%;
    border-radius: 9px;
    width: 80%;
    /* background: rgb(240, 221, 225); */
    /* background-color: #e8e4e4; */
}