*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}


.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}